header {
    height: 60px;
    background-color: #303134;
}

#header-container {
    display: flex;
    height: 60px;
    width: 80%;
    margin: auto;    
    align-items: center;
}

header a {
    margin: 0;
    color: white;
}

#header-input-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

header input {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.5em;
}

header input::placeholder {
    color: white;
    font-size: 15px;
}

#headerSubmitBtn {
    margin-left: 10px;
    border-radius: 10px;
    width: 150px;
    background-color: rgb(212, 212, 61);
}

.vibrate {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: vibrate 1.2s infinite;
}

@keyframes vibrate {
    0% {
        transform: translate(0);
    }
    25% {
        transform: translate(2px, 2px);
    }
    50% {
        transform: translate(0);
    }
    75% {
        transform: translate(-2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}