*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #303134;
}

header div {
    width: 80%;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none
}