#divTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vibrate {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: vibrate 1.2s infinite;
}

@keyframes vibrate {
    0% {
        transform: translate(0);
    }
    25% {
        transform: translate(2px, 2px);
    }
    50% {
        transform: translate(0);
    }
    75% {
        transform: translate(-2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}

#grosTitre {
    text-align: center;
    font-size: 4rem;
    margin: 40px 0px;
    font-weight: 900;
    color: #303134;
}

#grosTitre span {
    color: black;
}

#tryIt {
    padding: 10px 20px;
    width: 230px;
    justify-content: center;
    margin: 20px;
    margin-bottom: 20px;
    background-color: #303134;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
}

#queryPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#queryPage img {
    width: 80%;
    position: relative;
    margin: auto;
}

#presentation {
    padding-top: 300px;
    background-color: #d4d43d5b;
    margin-top: -300px;
}

#barreDeRecherche {
    display: flex;
    max-width: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 50px;
}

#barreDeRecherche h3, #querParams h3 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

#barreDeRecherche img {
    width: 600px;
    height: 75px;
    padding: 100px 0;
}

#querParams {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: auto;
    gap: 50px;
    padding-top: 20px;
}

#querParams img {
    width: 250px;
}

#paramDescription {
    width: 500px;
}

#objectif {
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 50px;
    padding: 50px 20px;
    border-left: 5px solid #333;
    background-color: #f9f9f9;
    width: 500px;
    margin: auto;
}